[project]
	description = Database and Web Backend for RVI
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group pdxostc-management
	owner = group user/Rudolf J Streif (rstreif)
[access "refs/for/refs/*"]
	read = group user/Rudolf J Streif (rstreif)
	push = group user/Rudolf J Streif (rstreif)
	label-Code-Review = -2..+2 group user/Rudolf J Streif (rstreif)
	label-Verified = -1..+1 group user/Rudolf J Streif (rstreif)
	rebase = group user/Rudolf J Streif (rstreif)
	removeReviewer = group user/Rudolf J Streif (rstreif)
	submit = group user/Rudolf J Streif (rstreif)
[access "refs/heads/*"]
	read = group user/Rudolf J Streif (rstreif)
	create = group user/Rudolf J Streif (rstreif)
	push = +force group user/Rudolf J Streif (rstreif)
	pushMerge = group user/Rudolf J Streif (rstreif)
[access "refs/tags/*"]
	push = +force group user/Rudolf J Streif (rstreif)
	pushTag = group user/Rudolf J Streif (rstreif)
	pushSignedTag = group user/Rudolf J Streif (rstreif)
