<!DOCTYPE html>
<html lang="en">
 {% block site_head %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block title %}Remote Vehicle Interaction{% endblock %}</title>

{% endblock %}

<body>

    <div id="sidebar">
        {% block site_sidebar %}
        <ul>
            <li><a href="/history">History</a></li>
            <li><a href="/keysharing/">Key Sharing</a></li>
        </ul>

        {% if user.is_authenticated %}
            <div id="user-info">username: {{ user.username }}</div>
            <a href="/logout/">logout</a>
        {% endif %}


        {% endblock %}
    </div>

    <div id="content">
        {% block site_content %}{% endblock %}
    </div>
</body>
</html>