
{% extends "rvi/bootstrap.html" %}

{% load staticfiles %}
{% load url from future %}

<!-- {% load bootstrap3 %} -->
{% load admin_static %}{% load firstof from future %}

{% load i18n %}


{% block site_head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block title %}Remote Vehicle Interaction{% endblock %}</title>

    <link href="{% static 'rvi/css/bootstrap.3.1.0.css' %}" rel="stylesheet">
    <link href="{% static 'rvi/css/history.css' %}" rel="stylesheet">

    <script type="text/javascript" src="{% static 'rvi/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'rvi/js/bootstrap.min.js' %}"></script>


    {% block extra_site_head %}{% endblock %}
{% endblock %}
<body>


{% block site_content %}
    <div class="container">
        <h1>Click the filter icon <small>(<i class="glyphicon glyphicon-filter"></i>)</small></h1>
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Developers</h3>
                            <div class="pull-right">
                                <span class="clickable filter" data-toggle="tooltip" title="Toggle table filter" data-container="body">
                                    <i class="glyphicon glyphicon-filter"></i>
                                </span>
                            </div>
                        </div>
                        <div class="panel-body">
                            <input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Filter Developers" />
                        </div>
                        <table class="table table-hover" id="dev-table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Username</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Kilgore</td>
                                    <td>Trout</td>
                                    <td>kilgore</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Bob</td>
                                    <td>Loblaw</td>
                                    <td>boblahblah</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Holden</td>
                                    <td>Caulfield</td>
                                    <td>penceyreject</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">Tasks</h3>
                            <div class="pull-right">
                                <span class="clickable filter" data-toggle="tooltip" title="Toggle table filter" data-container="body">
                                    <i class="glyphicon glyphicon-filter"></i>
                                </span>
                            </div>
                        </div>
                        <div class="panel-body">
                            <input type="text" class="form-control" id="task-table-filter" data-action="filter" data-filters="#task-table" placeholder="Filter Tasks" />
                        </div>
                        <table class="table table-hover" id="task-table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Task</th>
                                    <th>Assignee</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Site Wireframes</td>
                                    <td>John Smith</td>
                                    <td>in progress</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Mobile Landing Page</td>
                                    <td>Kilgore Trout</td>
                                    <td>completed</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Add SEO tags</td>
                                    <td>Bob Loblaw</td>
                                    <td>failed qa</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Migrate to Bootstrap 3</td>
                                    <td>Emily Hoenikker</td>
                                    <td>in progress</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Update jQuery library</td>
                                    <td>Holden Caulfield</td>
                                    <td>deployed</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>Issues in IE7</td>
                                    <td>Jane Doe</td>
                                    <td>failed qa</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>Bugs from Sprint 14</td>
                                    <td>Kilgore Trout</td>
                                    <td>completed</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
<script type="text/javascript" src="{% static 'rvi/js/history.js' %}"></script>
</body>


{% endblock %}