{% extends "rvi/base.html" %}

{% load staticfiles %}
{% load url from future %}

{% load admin_static %}{% load firstof from future %}

{% load i18n %}

{% block extra_site_head %}
    <link href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" rel="stylesheet">
    <link href="{% static 'rvi/css/history.css' %}" rel="stylesheet">

    <script type="text/javascript" src="{% static 'rvi/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'rvi/js/bootstrap.min.js' %}"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
{% endblock %}


{% block page_content %}
    <div class="container-history">
            <div id="map" class="panel left-half"></div>

            <div class="col-md-6 table-row right-half">
                <div class="panel panel-primary">
                    <div class="panel-heading ">
                        <h3 class="panel-title">Key History</h3>
                        <!--
                        <div class="pull-right">
                            <span class="clickable filter" data-toggle="tooltip" title="Toggle table filter" data-container="body">
                                <i class="glyphicon glyphicon-filter"></i>
                            </span>
                        </div>
                        -->
                    </div>
                    <div class="panel-body">
                        <input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Filter Developers" />
                    </div>
                    <table class="table table-hover table-history" id="dev-table">
                        <thead>
                            <tr>
                                <th >User</th>
                                <th >RVI Service</th>
                                <th >Timestamp</th>
                                <th >Location</th>
                            </tr>
                        </thead>
                        <tbody>

                        {% for item in last_invoked %}
                            <tr>
                                <td>
                                    <b>{{ item.hist_user }}</b>
                                    {% if user != item.hist_user %}
                                        <br>
                                        (guest)
                                    {% endif %}
                                </td>
                                <td>
                                    {% if item.hist_service == 'Door Unlock' %}
                                        <i class="icon-large icon-unlock"></i>
                                    {% elif item.hist_service == 'Door Lock' %}
                                        <i class="icon-large icon-lock"></i>
                                    {% elif item.hist_service == 'Remote Start' %}
                                        <i class="icon-large icon-power"></i>
                                    {% elif item.hist_service == 'Remote Stop' %}
                                        <i class="icon-large icon-ban"></i>
                                    {% endif %}
                                    <!--
                                    <br>
                                    {{ item.hist_service }}
                                    -->
                                </td>
                                <td>{{ item.hist_timestamp|date:'m/d/Y h:i A' }}</td>
                                <td>{{ item.hist_address|linebreaksbr }}</td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
    </div>
    <script type="text/javascript" src="{% static 'rvi/js/history.js' %}"></script>

    <script type="text/javascript">
    {% for item in last_invoked %}
        L.marker([{{ item.hist_latitude }}, {{ item.hist_longitude }}]).addTo(map);
    {% endfor %}
    </script>

{% endblock %}