{% extends "rvi/base.html" %}

{% load staticfiles %}
{% load url from future %}

{% load date_static %}{% load firstof from future %}

{% load i18n %}

{% block extra_site_head %}
    <link href="{% static 'rvi/css/history.css' %}" rel="stylesheet">

    <link href="{% static 'rvi/css/parallax.css' %}" rel="stylesheet">
	

    <link href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" rel="stylesheet">
    <link href="{% static 'rvi/css/simple-sidebar.css' %}" rel="stylesheet">
	<link href="{% static 'rvi/css/keys.css' %}" rel="stylesheet">
	
    <script type="text/javascript" src="{% static 'rvi/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'rvi/js/bootstrap.min.js' %}"></script>

	<style>
   #header{
   background-color:grey;
   
   }
   
   #sidebar{
	display:inline-block;
	width:100px;
	height:400px;
	margin:20px;
	background-color:blue;
   }
   
   
   .main{
   display:inline-block;
   }
   
	#addkey {
		display:inline-block;
		background-color:white;
		height: 200px;
		padding:10px;
	}
	#keys {
		background-color:white;
		width:700px;
		float:left;
		padding:10px;
	}
	
	#box{
		display:inline-block;
		width: 200px;
		height: 100px;
		background-color:white;
		padding:20px;
		float:left;
	
	}
	
	.footer{
	background-color:grey;
	
	}

	</style>

{% endblock %}


{% block page_content %}


   <body>
   <div id="header">
   <h2>Remote Vehicle Interaction</h2>	
  </div>
   
  <div id="nav"> 
   <form method="link" action="page1.htm">
   <input type="submit" value="History">
    </form>
	
	<form method="link" action="page1.htm">
   <input type="submit" value="Shared Keys">
    </form>
 
   </div>
   
   
 <div id="addkey">  
   <form action=action_page.php>
       <fieldset>
          <legend>Create a Key</legend>
          <p>
             <label> </label>
             <select id = "myList">
               <option value = "1">user one</option>
               <option value = "2">user two</option>
               <option value = "3">user three</option>
               <option value = "4">user four</option>
             </select>
          </p>
		  
		 <p> 
		  Valid from: <input type="datetime-local" name="Start Date:">   
		</p>
		<p>
		Vaid to:  <input type="datetime-local" name="End Date" min = "Start Date">
		</p>
			
		<input type="checkbox" name="selectLock"> Lock/Unlock   
		<input type="checkbox" name="selectEngine"> Engine Start  
		
		<input type="checkbox" name="selectPanic">  Panic          
		
		<br> 
		<input type="submit" value="Submit">
		
		  
       </fieldset>
    </form>
	
	

	<form>
       <fieldset>
          <legend>Active Keys</legend>
          
		<table border="1" style="width:680px">
		<th>User</th> <th>Valid from</th> <th>Valid to</th> <th>Lock/Unlock</th>
		<th>Engine Start</th> <th>Panic</th> <th> Modify </th>
		<tr>
		<td>Jack</td>
		<td>date</td>
		<td>date</td>
		<td> 
		<input type="checkbox" name="lock/unlock" onclick="return false"/>
		</td>
		</tr>
		<tr>
		<td>John</td>
		<td>date</td>
		<td>date</td>
		</tr>
		<tr>
		<td>James</td>
		<td>date</td>
		<td>date</td>
		</tr>
		</table>
		
		  
       </fieldset>
    </form>
	
	<form>
       <fieldset>
          <legend>Expired Keys</legend>
          
		<table border="1" style="width:680px">
		<th>User</th> <th>Valid from</th> <th>Valid to</th> <th>Lock/Unlock</th>
		<th>Engine Start</th> <th>Panic</th>
		<tr>
		<td>Jack</td>
		<td>date</td>
		<td>date</td>
		</tr>
		<tr>
		<td>John</td>
		<td>date</td>
		<td>date</td>
		</tr>
		<tr>
		<td>James</td>
		<td>date</td>
		<td>date</td>
		</tr>
		</table>
		
		  
       </fieldset>
    </form>
   
   </body>
 <footer>
	<p>RVI &copy 2014, 2015 Jaguar Land Rover</p>
</footer> 
 
{% endblock %}
	</style>

