/* CHANGELISTS */

#changelist {
  display: inline-block;
}

#changelist table {
  width: 100%;
}

.change-list .hiddenfields {
  display: none;
}

.change-list .filtered table {
}

.change-list .filtered {
  min-height: 400px;
}

.change-list .filtered {
  /* background: white url(../img/changelist-bg.gif) top right repeat-y !important; */
}

.change-list .filtered .results,
.change-list .filtered .paginator,
.filtered #toolbar,
.filtered div.xfull {
  width: auto !important;
  margin-right: 20px !important;
}

.change-list .filtered table tbody th {
  padding-right: 1em;
}
#changelist-form {
  float: none;
  margin-top: 5em;
  margin-right: 2em;
}

#changelist-form .results {
  overflow-x: auto;
  margin-left: 10px;
  max-width: 950px;
}

#changelist .toplinks {
  border-bottom: 1px solid #ccc !important;
}

#changelist .paginator {
  min-width: 400px;
}

.change-list .filtered .paginator {
}

/* CHANGELIST TABLES */

#changelist table thead th {
  white-space: nowrap;
}

#changelist table thead th.action-checkbox-column {
  width: 1.5em;
  text-align: center;
}
.action-select {
  position: relative;
  display: inline-block;
  -webkit-appearance: none;
  width: 26px;
  height: 26px;
  padding: 9px;
  border: 1px solid #cacece;
  background-color: #000;

  appearance: none;
}

.action-select:checked {
  color: #99a1a7;
  border: 1px solid #adb8c0;
  background-color: #e9ecee;
}

.action-select:checked:after {
  font-size: 1.5em;
  position: absolute;
  top: -1px;
  left: -1px;
  width: 26px;
  height: 26px;
  content: '\2714';
  color: #fff;
  border: 1px solid #adb8c0;
  background-color: #000;
}

.field-update_name > a {
  margin-right: 10px;
  margin-left: 5px;
}

#changelist table tbody td,
#changelist table tbody th {
}

#changelist table tbody td:first-child,
#changelist table tbody th:first-child {
}

#changelist table tbody td.action-checkbox {
  text-align: center;
}

#changelist table tfoot {
  color: #666;
}

/* TOOLBAR */
#toolbar {
  float: left;
}

#toolbar label {
  display: inline;
}

#changelist #toolbar {
  display: inline;
  float: left;
  max-height: 5em;
  padding: 3px;
  background: #222;
}

#changelist #toolbar form input {
}

#changelist #toolbar form #searchbar {
}

#toolbar img {
  margin-top: 3px;
  padding: 9px;
  border-radius: 5px;
  background-color: #eee;
}

#changelist #changelist-search img {
  vertical-align: middle;
}
form#changelist-search > label {
  display: inline;
  float: left;
}

.field-not_expired img {
  border-radius: 5px;
}

/* FILTER COLUMN */

#changelist-filter {
  float: right;
  margin: 0;
  border: 1px solid rgba(255,255,255, .5);
  background: #000;
}

#changelist-filter h2 {
  font-size: 2rem;
  padding-left: 10px;
}

#changelist-filter h3 {
  font-size: 3rem;
  margin-bottom: 0;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255,255,255, .25);
}

#changelist-filter ul {
  margin-left: 10px;
  padding-left: 0;
}

#changelist-filter li {
  font-size: 2rem;
  line-height: 3rem;
  margin-left: 0;
  padding-left: 20px;
  list-style-type: none;
}

#changelist-filter a {
  color: #53b5ce;
}

#changelist-filter a:hover {
  color: #fff;
}

#changelist-filter li.selected {
  margin-left: -5px;
  padding-left: 5px;
}
#changelist-filter li.selected::before {
  font-size: 1.25em;
  font-weight: bold;
  padding-right: 4px;
  content: '\025B8';
}
#changelist-filter li.selected a {
  color: #fff !important;
}

/* DATE DRILLDOWN */

.change-list ul.toplinks {
  display: block;
  /*background: white url(../img/nav-bg-reverse.gif) 0 -10px repeat-x;*/
  float: left;
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

.change-list ul.toplinks li {
  font-weight: bold;
  display: inline-block;
  padding: 3px 6px;
  list-style-type: none;
}

.change-list ul.toplinks .date-back a {
  color: #999;
}

.change-list ul.toplinks .date-back a:hover {
  color: #036;
}

/* PAGINATOR */

.paginator {
  line-height: 3em;
  margin: 0;
}

.paginator a:link,
.paginator a:visited {
  padding: 2px 6px;
  text-decoration: none;
  border: 1px solid rgba(255, 255, 255, .8);
}

.paginator a.showall {
  padding: 0 !important;
  border: none !important;
}

.paginator a.showall:hover {
  color: #036 !important;
  background: transparent !important;
}

.paginator .end {
  margin-right: 6px;
  border-width: 2px !important;
}

.paginator .this-page {
  font-size: 1em;
  font-weight: bold;
  padding: 2px 6px;
  vertical-align: top;
}

.paginator a:hover {
  color: white;
  border-color: #036;
  background: #5b80b2;
}

/* ACTIONS */

.filtered .actions {
}

#changelist input[type="checkbox"] {
    margin: 4px 0 0;
}

#changelist table input {
  margin: 0;
}

#changelist table tbody tr.selected {
}

#changelist .actions {
  margin-bottom: .5em;
}

#changelist .actions.selected {
  border-top: 1px solid #fffee8;
  border-bottom: 1px solid #edecd6;
  background: #fffccf;
}

#changelist .actions span.all,
#changelist .actions span.action-counter,
#changelist .actions span.clear,
#changelist .actions span.question {
  display: none;
  margin: 0 1em;
}

#changelist .actions:last-child {
  border-bottom: none;
}

#changelist .actions select {
}

#changelist .actions label {
  padding: 0 .5em;
  border: 1px solid rgba(255, 255, 255, .5);
}

#changelist #action-toggle {
  display: none;
}

#changelist .actions .button {
}