/* SELECTOR (FILTER INTERFACE) */

.selector {
  /*    width: 840px;
    float: left;*/
}

.selector select {
  width: 400px;
  height: 262px;
}

select#id_permissions_to {
  max-height: 326px;
}

select.filtered {
  margin-top: 10px;
  margin-left: 0;
}

.selector-available,
.selector-chosen {
  float: left;
  width: 400px;
  margin-bottom: 5px;
  margin-left: 20px;
  text-align: center;
}

.selector-chosen {
  margin-left: 2px;
}

.selector-chosen select {
  border-top: none;
}

.selector-available h2,
.selector-chosen h2 {
  border: 1px solid #ccc;
}

.selector .selector-available h2 {
  /* background: white url(../img/nav-bg.gif) bottom left repeat-x; */
  /* color: #666; */
}

.selector .selector-filter {
  /* color: #999; */
  font-size: .75em;
  margin: 0;
  padding: 3px;
  text-align: left;
  /* background: white; */
  /* border: 1px solid #ccc; */
  border-width: 0 1px;
}

.selector .selector-filter label,
.inline-group .aligned .selector .selector-filter label {
  width: 16px;
  padding: 2px;
}

.selector .selector-available input {
  /*width: 360px;*/
}

.selector ul.selector-chooser {
  float: left;
  width: 22px;
  margin: 8.5em 5px 0 5px;
  padding: 0;
  border-radius: 5px;
  background-color: #eee;
}

.selector-chooser li {
  margin: 0;
  padding: 3px;
  list-style-type: none;
}

.selector select {
  /*margin-bottom: 10px;*/
}

.selector-add,
.selector-remove {
  display: block;
  overflow: hidden;
  width: 16px;
  height: 16px;
  text-indent: -3000px;
}

.selector-add {
  margin-bottom: 2px;
  cursor: default;
  background: url(../img/selector-icons.gif) 0 -161px no-repeat;
}

.active.selector-add {
  cursor: pointer;
  background: url(../img/selector-icons.gif) 0 -187px no-repeat;
}

.selector-remove {
  cursor: default;
  background: url(../img/selector-icons.gif) 0 -109px no-repeat;
}

.active.selector-remove {
  cursor: pointer;
  background: url(../img/selector-icons.gif) 0 -135px no-repeat;
}

a.selector-chooseall,
a.selector-clearall {
  font-weight: bold;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  color: #53b5ce;
}

a.selector-chooseall {
  padding: 3px 18px 3px 0;
}

a.selector-clearall {
  padding: 3px 0 3px 18px;
}

a.active.selector-chooseall:hover,
a.active.selector-clearall:hover {
  color: #fff;
}

a.selector-chooseall {
  /* background: url(../img/selector-icons.gif) right -263px no-repeat; */
  cursor: default;
}

a.active.selector-chooseall {
  /* background: url(../img/selector-icons.gif) right -289px no-repeat; */
  cursor: pointer;
}

a.active.selector-chooseall::after,
a.selector-chooseall::after {
  padding-left: 5px;
  content: '\025B8';
}

a.selector-clearall {
  /*background: url(../img/selector-icons.gif) left -211px no-repeat;*/
  cursor: default;
}

a.active.selector-clearall {
  /*background: url(../img/selector-icons.gif) left -237px no-repeat;*/
  cursor: pointer;
}

a.selector-clearall::before,
a.active.selector-clearall::before {
  padding-right: 5px;
  content: '\025C2';
}


/* STACKED SELECTORS */

.stacked {
  float: left;
  width: 500px;
}

.stacked select {
  width: 480px;
  height: 10.1em;
}

.stacked .selector-available,
.stacked .selector-chosen {
  width: 480px;
}

.stacked .selector-available {
  margin-bottom: 0;
}

.stacked .selector-available input {
  width: 442px;
}

.stacked ul.selector-chooser {
  width: 50px;
  height: 22px;
  margin: 0 0 3px 40%;
  border-radius: 10px;
  background-color: #eee;
}

.stacked .selector-chooser li {
  float: left;
  padding: 3px 3px 3px 5px;
}

.stacked .selector-chooseall,
.stacked .selector-clearall {
  display: none;
}

.stacked .selector-add {
  cursor: default;
  background: url(../img/selector-icons.gif) 0 -57px no-repeat;
}

.stacked .active.selector-add {
  cursor: pointer;
  background: url(../img/selector-icons.gif) 0 -83px no-repeat;
}

.stacked .selector-remove {
  cursor: default;
  background: url(../img/selector-icons.gif) 0 -5px no-repeat;
}

.stacked .active.selector-remove {
  cursor: pointer;
  background: url(../img/selector-icons.gif) 0 -31px no-repeat;
}


/* DATE AND TIME */

p.datetime {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

.datetime span {
  font-size: 11px;
  font-weight: normal;
  white-space: nowrap;
  color: #ccc;
}

table p.datetime {
  font-size: 10px;
  margin-left: 0;
  padding-left: 0;
}

@media (max-width: 960px) {
  p.datetime {
    font-size: 1.75rem;
  }
}


/* URL */

p.url {
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  margin: 0;
  padding: 0;
  color: #666;
}

.url a {
  font-weight: normal;
}


/* FILE UPLOADS */

p.file-upload {
  /*color: #666;*/
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

.file-upload a {
  font-weight: normal;
}

.file-upload .deletelink {
  margin-left: 5px;
}

span.clearable-file-input label {
  font-size: 11px;
  display: inline;
  float: none;
  color: #333;
}


/* CALENDARS & CLOCKS */

.calendarbox,
.clockbox {
  font-size: 11px;
  position: relative;
  width: 16em;
  margin: 5px auto;
  text-align: center;
  background: white;
}

.clockbox {
  width: auto;
}

.calendar {
  margin: 0;
  padding: 0;
  font-size: 2rem;
}

.calendar table {
  width: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  background: white;
}

.calendar caption,
.calendarbox h2 {
  font-size: 11px;
  margin: 0;
  text-align: center;
  border-top: none;
}

.calendar th {
  font-size: .75em;
  padding: 2px 3px;
  text-align: center;
  color: #666;
  border-bottom: 1px solid #ddd;
  background: #e1e1e1 url(../img/nav-bg.gif) 0 50% repeat-x;
}

.calendar td {
  font-size: .65em;
  padding: 0;
  text-align: center;
  border-top: 1px solid #eee;
  border-bottom: none;
}

.calendar td.selected a {
  background: #c9dbed;
}

.calendar td.nonday {
  background: #efefef;
}

.calendar td.today a {
  background: #ffc;
}

.calendar td a,
.timelist a {
  font-size: .65em;
  font-weight: bold;
  display: block;
  padding: 4px;
  text-decoration: none;
  color: #444;
}

.calendar td a:hover,
.timelist a:hover {
  color: white;
  background: #5b80b2;
}

.calendar td a:active,
.timelist a:active {
  color: white;
  background: #036;
}

.calendarnav {
  font-size: 10px;
  margin: 0;
  padding: 1px 3px;
  text-align: center;
  color: #ccc;
}

.calendarnav a:link,
#calendarnav a:visited,
#calendarnav a:hover {
  color: #999;
}

.calendar-shortcuts {
  font-size: 10px;
  line-height: 11px;
  padding: 3px 0 4px;
  color: #ccc;
  border-top: 1px solid #eee;
  background: white;
}

.calendarbox .calendarnav-previous,
.calendarbox .calendarnav-next {
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  display: block;
  padding: 1px 4px 2px 4px;
  color: white;
  background: #c9dbed url(../img/default-bg.gif) bottom left repeat-x;
}

.calendarnav-previous:hover,
.calendarnav-next:hover {
  background: #036;
}

.calendarnav-previous {
  top: 0;
  left: 0;
}

.calendarnav-next {
  top: 0;
  right: 0;
}

.calendar-cancel {
  font-size: 10px;
  margin: 0 !important;
  padding: 0 !important;
  border-top: 1px solid #ddd;
  background: #e1e1e1 url(../img/nav-bg.gif) 0 50% repeat-x;
}

.calendar-cancel:hover {
  background: #e1e1e1 url(../img/nav-bg-reverse.gif) 0 50% repeat-x;
}

.calendar-cancel a {
  display: block;
  text-transform: uppercase;
  color: rgba(255, 255, 255, .8);
  background-color: #000;
  font-size: 2rem;
  padding: 10px;
  font-weight: bold;
}

ul.timelist,
.timelist li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.timelist a {
  padding: 2px;
}


/* INLINE ORDERER */

ul.orderer {
  position: relative;
  margin: 0 !important;
  padding: 0 !important;
  list-style-type: none;
}

ul.orderer li {
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style-type: none;
  white-space: nowrap;
  border: 1px solid #bbb;
  border-width: 0 1px 1px 0;
  background: #e2e2e2 url(../img/nav-bg-grabber.gif) repeat-y;
}

ul.orderer li:hover {
  cursor: move;
  background-color: #ddd;
}

ul.orderer li a.selector {
  font-size: 10px !important;
  overflow: hidden;
  width: 83%;
  margin-left: 12px;
  padding: .6em 0;
}

ul.orderer li a:link,
ul.orderer li a:visited {
  color: #333;
}

ul.orderer li .inline-deletelink {
  position: absolute;
  right: 4px;
  margin-top: .6em;
}

ul.orderer li.selected {
  border-right-color: #f8f8f8;
  background-color: #f8f8f8;
}

ul.orderer li.deleted {
  background: #bbb url(../img/deleted-overlay.gif);
}

ul.orderer li.deleted a:link,
ul.orderer li.deleted a:visited {
  color: #888;
}

ul.orderer li.deleted .inline-deletelink {
  background-image: url(../img/inline-restore.png);
}

ul.orderer li.deleted:hover,
ul.orderer li.deleted a.selector:hover {
  cursor: default;
}


/* EDIT INLINE */

.inline-deletelink {
  float: right;
  width: 15px;
  height: 15px;
  text-indent: -9999px;
  border: 0 none;
  outline: 0;
  /* Remove dotted border around link */
  background: transparent url(../img/inline-delete.png) no-repeat;
}

.inline-deletelink:hover {
  cursor: pointer;
  background-position: -15px 0;
}

.editinline button.addlink {
  font-size: 100%;
  cursor: pointer;
  color: #5b80b2;
  border: 0 none;
}

.editinline button.addlink:hover {
  cursor: pointer;
  color: #036;
}

.editinline table .help {
  float: right;
  padding-left: 2em;
  text-align: right;
}

.editinline tfoot .addlink {
  white-space: nowrap;
}

.editinline table thead th:last-child {
  border-left: none;
}

.editinline tr.deleted {
  background: #ddd url(../img/deleted-overlay.gif);
}

.editinline tr.deleted .inline-deletelink {
  background-image: url(../img/inline-restore.png);
}

.editinline tr.deleted td:hover {
  cursor: default;
}

.editinline tr.deleted td:first-child {
  background-image: none !important;
}


/* EDIT INLINE - STACKED */

.editinline-stacked {
  min-width: 758px;
}

.editinline-stacked .inline-object {
  margin-left: 210px;
  background: white;
}

.editinline-stacked .inline-source {
  float: left;
  width: 200px;
  background: #f8f8f8;
}

.editinline-stacked .inline-splitter {
  float: left;
  width: 9px;
  border-right: 1px solid #ccc;
  background: #f8f8f8 url(../img/inline-splitter-bg.gif) 50% 50% no-repeat;
}

.editinline-stacked .controls {
  font-size: 11px;
  clear: both;
  padding: 3px 4px;
  border-top: 1px solid #ddd;
  background: #e1e1e1 url(../img/nav-bg.gif) top left repeat-x;
}
