/*Modified common.css from the DNA styleguide, designed and used for the Tizen Crosswalk platform
Adjustments were made to suit the RVI admin web interface
Accomodates flexbox layout where ever possible
March 2015*/

/* Fonts **************************************************/

/* Adobe Source Sans */
/* SIL OPEN FONT LICENSE Version 1.1 - 26 February 2007 */
/* http://scripts.sil.org/OFL */

@font-face {
  font-family: SourceSansPro;
  src: url(../fonts/SourceSansPro-ExtraLight.ttf) format(truetype);
  font-weight: 200;
}

@font-face {
  font-family: SourceSansPro;
  src: url(../fonts/SourceSansPro-Light.ttf) format(truetype);
  font-weight: 300;
}

@font-face {
  font-family: SourceSansPro;
  src: url(../fonts/SourceSansPro-LightItalic.ttf) format(truetype);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: SourceSansPro;
  src: url(../fonts/SourceSansPro-Regular.ttf) format(truetype);
  font-weight: 400;
}

@font-face {
  font-family: SourceSansPro;
  src: url(../fonts/SourceSansPro-Italic.ttf) format(truetype);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: SourceSansPro;
  src: url(../fonts/SourceSansPro-Semibold.ttf) format(truetype);
  font-weight: 600;
}

@font-face {
  font-family: SourceSansPro;
  src: url(../fonts/SourceSansPro-Bold.ttf) format(truetype);
  font-weight: 700;
}

@font-face {
  font-family: SourceSansPro;
  src: url(../fonts/SourceSansPro-Black.ttf) format(truetype);
  font-weight: 900;
}

/* Root Elements ******************************************/

html {
  font-size: 8px;
}

/* Body */

body {
  font-family: SourceSansPro, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(0,0,0);
  position: relative;
  display: flex;
  flex-direction:column;
  justify-content:space-between;
  color: #fff;
}

*{
  user-select: none;
  -webkit-user-select: none;
}

input, textarea{
  user-select: auto;
  -webkit-user-select: auto;
}


/*Typography **********************************************/

/* Headings */

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  color: #fe9c00;
  margin: .5em 0;
  line-height: 1em;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 5rem;
}

h4 {
  font-size: 4rem;
}

h5 {
  font-size: 3.6rem;
}

h6, .label {
  font-size: 3rem;
  text-transform: uppercase;
}

/* Text */

p, ul {
  /* margin-bottom: 1em; */
}

p, ul, li,
.text-input {
  color: white;
  font-size: 3rem;
}

.text-large {
  font-size: 3.4rem;
}

.text-medium {
  font-size: 3.2rem;
}

p.lead {
  font-size: 4.5rem;
  font-weight: 300;
}

/* Anchors */

/*a {
  color: inherit;
}*/

/* Lists */

ul {
  font-size: 3rem;
  /* margin-left: 0; */
}

li {
  /* margin-left: 1em; */
}

/* Sectioning Content and Div *****************************/

div, 
nav,
aside,
article,
section {
  /* font-size: 3rem; */
}

/* Structural Elements ************************************/

/*
  These styles can only be used with
  the HTML structure suggested in the Style Guide
*/

.modal,
#settings {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  display: flex;
}

.modal {
  align-items: center;
  justify-content: center;
}
.modal-content {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
}

#agl-logo {
  flex: 3;
}

/* Colors *************************************************/

.orange-lt {
  color: #ffd38c;
}

.orange-lt-bg {
  background-color: #ffd38c;
}

.orange-viv {
  color: #fe9c00;
}

.orange-viv-bg {
  background-color: #fe9c00;
}

.blue-lt {
  color: #b2f0ff;
}

.blue-lt-bg {
  background-color: #b2f0ff;
}

.blue-viv {
  color: #53b5ce;
}

.blue-viv-bg {
  background-color: #53b5ce;
}

.yellow-lt {
  color: #ffffb2;
}

.yellow-lt-bg {
  background-color: #ffffb2;
}

.yellow-viv {
  color: #ffff00;
}

.yellow-viv-bg {
  background-color: #ffff00;
}

.green-lt {
  color: #cdffb2;
}

.green-lt-bg {
  background-color: #cdffb2;
}

.green-viv {
  color: #59ff00;
}

.green-viv-bg {
  background-color: #59ff00;
}

.grey {
  color: #c4c4c4;
}

.grey-bg {
  background-color: #c4c4c4;
}

.white {
  color: white;
}

.white-bg {
  background-color: white;
}

.black {
  color: black;
}

.black-bg {
  background-color: black;
}

.modal,
#settings,
.overlay-bg {
  background-color: rgba(0,0,0,0.8);
}

/* Controls ***********************************************/

/* Buttons ************************************************/

button,
.button,
input[type='button'] {
  color: white;
  position: relative;
  display: inline-block;
  font-size: 3rem;
  font-weight: 600;
  font-family: inherit;
  padding: 8px 20px 12px;
  margin: 20px;
  border-width: 1px;
  border-style: solid;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.9);
}

.button-orange {
  border-color: #fe9c00;
  box-shadow: inset 0 0 20px rgba(254, 156, 0, 0.9);
}

.button-blue {
  border-color: #b2f0ff;
  box-shadow: inset 0 0 20px rgba(178, 240, 255, 0.9);
}

.button-green {
  border-color: #59ff00;
  box-shadow: inset 0 0 20px rgba(89, 255, 0, 0.9);
}

.button-yellow {
  border-color: #ffff00;
  box-shadow: inset 0 0 20px rgba(255, 255, 0, 0.9);
}
.clear-button::after { 
  margin-left: -50px; 
  content: "\00d7";
  line-height: 100px;
  font-size: 5rem;
  color: gray; 
}

/* Forms */

/* Text Inputs */

.text-input {
  font-size: 3rem; 
  color: rgba(255,255,255,.8);
  padding: 20px;
  margin: 10px;
  border: none;
  background-color: rgba(0, 0, 0, 0.8);
}

input,
textarea,
.text-input {
  font-family: inherit;
}

::-webkit-input-placeholder {
   color: #444;
}

label {
  text-transform: uppercase;
  color: #fe9c00;
  display: block;
}

label,
.text-input {
  margin: 10px;
}

.text-input:focus {
  outline: none;
  color: white;
  box-shadow: 0 0 20px rgba(255,255,255,.8);
}

/* .input-group: A wrapper for grouping input fields, labels
and other form content. Best used on block elements (eg. div) */ 

.input-group label.left-label {
  justify-content: flex-start;
}

.input-group label {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
}

.input-group {
  display: flex;
  justify-content: space-between;
} 

.input-group .text-input { 
  flex: 2;
}


.input-yellow {
  border-color: rgba(255, 255, 0, 0.5);
}

.input-yellow:focus {
  box-shadow: 0 0 20px rgba(255, 255, 0, 0.9); 
}

.input-blue {
  border-color: rgba(178, 240, 255, 0.5);
}

.input-blue:focus {
  box-shadow: 0 0 20px rgba(178, 240, 255, 0.9);
}

/* 
  A wrapper for grouping input fields, labels and other
  form content. Best used on block elements (eg. div)
*/ 

.input-group {
  display: flex;
  justify-content: space-between;
}

.input-group label { 
  flex: 1;
} 
.input-group .text-input { 
  flex: 2;
}

/* Switches ***********************************************/

.switch {
  margin: 20px;
}

/* Sizes for varying switches */

.switch-large {
  width: 450px;
  height: 150px;
} 

.switch-small {
  width: 225px;
  height: 75px;
}

.switch-xsmall {
  width: 150px;
  height: 50px;
}

.switch-plate {
  margin: 0;
  padding: 0;
  position: relative;
  background-repeat: no-repeat;
  background-size: 100%;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.switch-control {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-image: url(../images/switchcontrol.svg);
  -webkit-filter: drop-shadow(4px 4px 5px rgba(0,0,0,0.35));
} 

/* On/Off Styles for Background Plate */

.off .switch-plate {
  background-image: url(../images/switchplate_off.svg);
}

.on .switch-plate {
  background-image: url(../images/switchplate_on.svg);
}

/* On/Off Styles for switch control(knob) */

.off .switch-plate {
  padding-left: 3%;
  padding-right: 64%;
}

.on .switch-plate {
  padding-left: 64%;
  padding-right: 3%;
}

/* Close button */
.close-button {
  padding: 10px;
  position: relative;
  right: 20px;
  top: 0;
  float: right;
}
.close-button::after {
  content: "\00d7";
  width: 26px;
  height: 63px;
  color: white;
  font-size: 5rem;
  cursor: pointer;
}

/* input field with input glow focus and grey placeholder text */
.input-white {
  border: none;
  color: rgba(196, 196, 196, 1.0);
}
::-webkit-input-placeholder {
   color: #444;
}
.input-white:focus {
  outline: none;
  box-shadow: 0 0 15px 5px #b0e0ee;
}

/* Modifiers **********************************************/ 
/* Modifiers should stay at the bottom of the CSS *********/

.hidden,
.modal.hidden,
#settings.hidden {
  display: none;
}

.right {
  float: right;
}
.left {
  float: left;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.center {
  text-align: center;
}

.no-margin {
  margin: 0;
}

/* Flex Modifiers */

.flex-parent {
  display: flex;
}

.flex-item {
  flex: 1;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  align-items: center;
  justify-content: center;
  display: flex;
}

.flex-column-center {
  flex-direction: column;
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

/* Touch Behavior *****************************************/

/* Prevents scrolling and zooming where not specified */
html,
input,
textarea {
  touch-action: none;
}

/* Allows vertical and horizontal scrolling where specified 
   for lists */
ul, ol {
  touch-action: pan-x pan-y;
}

/* 
  Apply to elements where a scrollbar is desired.
  Shows a standard scrollbar as needed.
*/ 

.scrollbar-x { 
  overflow-x: auto;
  touch-action: pan-x;
} 

.scrollbar-y {
  overflow-y: auto;
  touch-action: pan-y;
}

.scrollbar-xy {
  overflow: auto;
  touch-action: pan-x pan-y;
}

/*
  Apply to elements where a scrolling without
  a scrollbar is desired.
*/

.scrollable-x { 
  overflow-x: auto; 
  touch-action: pan-x;
}

.scrollable-y {
  overflow-y: auto;
  touch-action: pan-y;
}

.scrollable-xy {
  overflow: auto;
  touch-action: pan-x pan-y;
}

.scrollable-x::-webkit-scrollbar,
.scrollable-y::-webkit-scrollbar,
.scrollable-xy::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 11px;
  margin-top: 20px;
}
::-webkit-scrollbar-track {
  background: -webkit-linear-gradient(right, rgba(0,0,0,0.6), rgba(72, 72, 72, .8));
  background: linear-gradient(to right, rgba(0,0,0,0.6), rgba(72, 72, 72, .8));
  border-left: 1px solid #202020;
  border-right: 1px solid #606060;
  border-top: none;
  border-bottom: none;
  margin-bottom: -1px;
}
::-webkit-scrollbar-thumb { 
  background:linear-gradient(to right, rgba(112,112,112, .8), rgba(72,72,72, .8));
  border-radius:5px;
  border: 1px solid #202020;
}  
 ::-webkit-scrollbar-button {
  height:11px;
  background: -webkit-linear-gradient(right, rgba(0,0,0,0.6), rgba(72, 72, 72, .8));
  background: linear-gradient(to right, rgba(0,0,0,0.6), rgba(72, 72, 72, .8));
  border-left: 1px solid #202020;
  border-right: 1px solid #606060;
  border-top: none;
  border-bottom: none;
} 
::-webkit-scrollbar-corner {
  background: -webkit-linear-gradient(right, rgba(0,0,0,0.6), rgba(72, 72, 72, .8));
  background: linear-gradient(to right, rgba(0,0,0,0.6), rgba(72, 72, 72, .8));
  border-left: 1px solid #202020;
  border-right: 1px solid #606060;
  border-top: none;
  border-bottom: none;
  width: 8px;
  height: 8px;
}


/**********************************************************/


:focus {
  outline: none;
}

.ellipsis-one-line {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.ellipsis-two-line {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.ellipsis-three-line {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}


/* Font Weights */

.fontWeightNormal {
  font-weight: normal;
}

.fontWeightBold {
  font-weight: bold;
}

.fontWeightBolder {
  font-weight: bolder;
}

.fontWeightLighter {
  font-weight: lighter;
}

/* FONT COLOR */
.fontWhite {
  color: rgb(255, 255, 255);
  color: rgba(255, 255, 255, 1.0); /*#ffffff*/
}

.fontLtBlue {
  color: rgb(178, 240, 255);
  color: rgba(178, 240, 255, 1.0); /*#b2f0ff*/
}

.fontVividBlue {
  color: rgb(83, 181, 206);
  color: rgba(83, 181, 206, 1.0); /*#53b5ce*/
}

.fontLtYellow {
  color: rgb(255, 255, 178);
  color: rgba(255, 255, 178, 1.0); /*#ffffb2*/
}

.fontVividYellow {
  color: rgb(255, 255, 0);
  color: rgba(255, 255, 0, 1.0); /*#ffff00*/
}

.fontLtOrange {
  color: rgb(255, 211, 140);
  color: rgba(255, 211, 140, 1.0); /*#ffd38c*/
}

.fontVividOrange {
  color: rgb(254, 156, 0);
  color: rgba(254, 156, 0, 1.0); /*#fe9c00*/
}

.fontLtGreen{
  color: rgb(205, 255, 178);
  color: rgba(205, 255, 178, 1.0); /*#cdffb2*/
}

.fontVividGreen {
  color: rgb(89, 255, 0);
  color: rgba(89, 255, 0, 1.0); /*#59ff00*/
}
.fontNormal {
  color: rgb(196, 196, 196);
  color: rgba(196, 196, 196, 1.0); /*#c4c4c4*/
}

.fontDark {
  color: rgb(0, 0, 0); /*#000000*/
  color: rgba(0, 0, 0, 1.0); /*#000000*/
}

.fontColorTheme {
  color: rgb(58, 174, 255);
  color: rgba(58, 174, 255, 1.0);
}

/* BOX SHADOW INSET 
 * 1=Blue
 * 2=Green
 * 3=Orange
 * 4=Yellow
 * 5=White
 * Std=Normal for use in boxes, text fields and block level elements
 * Med=Wider For use with buttons
 * LG= widest, for use in special cases*/

 .box-inshadow,
.box-outshadow {
  color: white;
  padding: 20px;
  margin: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.8);
}

.box-inshadow {
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.9);
}

.box-outshadow {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.9);
}

/* Yellow */

.box-in-yellow,
.box-out-yellow {
  color: #FFFF00;
  border-color: rgba(255, 255, 0, 0.5);
}

.box-in-yellow {
  box-shadow: inset 0 0 20px rgba(255, 255, 0, 0.9);
}

.box-out-yellow {
  box-shadow: 0 0 20px rgba(255, 255, 0, 0.9);
}

/* Orange */

.box-in-orange,
.box-out-orange {
  color: #FE9C00;
  border-color: rgba(254, 156, 0, 0.5);
}

.box-in-orange {
  box-shadow: inset 0 0 20px rgba(254, 156, 0, 0.9);
}

.box-out-orange {
  box-shadow: 0 0 20px rgba(254, 156, 0, 0.9);
}

/* Blue */

.box-out-blue {
  color: #b2f0ff;
  box-shadow: 0 0 20px rgba(178, 240, 255, 0.9);
  border-color: rgba(178, 240, 255, 0.5);
}

 .boxShadowI1Lt {
  box-shadow: inset 0 0 13px rgba(178, 240, 255, 0.8);
}

.boxShadowI1LtActive:active,.boxShadowI1LtActive:focus {
  box-shadow: inset 0 0 20px rgb(83, 181, 206);
}

.boxShadowI2Lt {
  box-shadow: inset 0 0 13px rgba(205, 255, 178, 0.8);
}

.boxShadowI2LtActive:active,.boxShadowI2LtActive:focus {
  box-shadow: inset 0 0 20px rgb(89, 255, 0);
}

.boxShadowI3Lt {
  box-shadow: inset 0 0 13px rgba(255, 211, 140, 0.8);
}

.boxShadowI3LtActive:active,.boxShadowI3LtActive:focus {
  box-shadow: inset 0 0 20px rgb(254, 156, 0);
}

.boxShadowI4Lt {
  box-shadow: inset 0 0 13px rgba(255, 255, 178, 0.8);
}

.boxShadowI4LtActive:active,.boxShadowI4LtActive:focus {
  box-shadow: inset 0 0 20px rgb(255, 255, 0);
}

.boxShadowI5Std {
  box-shadow: inset 0 0 13px rgba(255, 255, 255, 0.8);
}

.boxShadowI5LtActive:active,.boxShadowI5LtActive:focus {
  box-shadow: inset 0 0 20px rgb(255, 255, 255,);
}

.boxShadowI1Std {
  box-shadow: inset 0 0 30px rgba(178, 240, 255, 0.8);
}

.boxShadowI1StdActive:active,.boxShadowI1StdActive:focus {
  box-shadow: inset 0 0 50px rgb(83, 181, 206);
}

.boxShadowI2Std {
  box-shadow: inset 0 0 30px rgba(205, 255, 178, 0.8);
}

.boxShadowI2StdActive:active,.boxShadowI2StdActive:focus {
  box-shadow: inset 0 0 50px rgb(89, 255, 0);
}

.boxShadowI3Std {
  box-shadow: inset 0 0 30px rgba(255, 211, 140, 0.8);
}

.boxShadowI3StdActive:active,.boxShadowI3StdActive:focus {
  box-shadow: inset 0 0 50px rgb(254, 156, 0);
}

.boxShadowI4Std {
  box-shadow: inset 0 0 30px rgba(255, 255, 178, 0.8);
}

.boxShadowI4StdActive:active,.boxShadowI4StdActive:focus {
  box-shadow: inset 0 0 50px rgb(255, 255, 0);
}

.boxShadowI5Std {
  box-shadow: inset 0 0 30px rgba(255, 255, 255, 0.8);
}

.boxShadowI5StdActive:active,.boxShadowI5StdActive:focus {
  box-shadow: inset 0 0 50px rgb(255, 255, 255,);
}

.boxShadowI1Med {
  box-shadow: inset 0 0 50px rgba(178, 240, 255, 0.8);
}

.boxShadowI1MedActive:active,.boxShadowI1MedActive:focus {
  box-shadow: inset 0 0 70px rgb(83, 181, 206);
}

.boxShadowI2Med {
  box-shadow: inset 0 0 50px rgba(205, 255, 178, 0.8);
}

.boxShadowI2MedActive:active,.boxShadowI2MedActive:focus {
  box-shadow: inset 0 0 70px rgb(89, 255, 0);
}

.boxShadowI3Med {
  box-shadow: inset 0 0 50px rgba(255, 211, 140, 0.8);
}

.boxShadowI3MedActive:active,.boxShadowI3MedActive:focus {
  box-shadow: inset 0 0 70px rgb(254, 156, 0);
}

.boxShadowI4Med {
  box-shadow: inset 0 0 50px rgba(255, 255, 178, 0.8);
}

.boxShadowI4MedActive:active,.boxShadowI4MedActive:focus {
  box-shadow: inset 0 0 70px rgb(255, 255, 0);
}

.boxShadowI5Med {
  box-shadow: inset 0 0 50px rgba(255, 255, 255, 0.8);
}

.boxShadowI5MedActive:active,.boxShadowI5MedActive:focus {
  box-shadow: inset 0 0 70px rgb(255, 255, 255,);
}

.boxShadowI1Lg {
  box-shadow: inset 0 0 70px rgba(178, 240, 255, 0.8);
}

.boxShadowI1LgActive:active,.boxShadowI1LgActive:focus {
  box-shadow: inset 0 0 90px rgb(83, 181, 206);
}

.boxShadowI2Lg {
  box-shadow: inset 0 0 70px rgba(205, 255, 178, 0.8);
}

.boxShadowI2LgActive:active,.boxShadowI2LgActive:focus {
  box-shadow: inset 0 0 90px rgb(89, 255, 0);
}

.boxShadowI3Lg {
  box-shadow: inset 0 0 70px rgba(255, 211, 140, 0.8);
}

.boxShadowI3LgActive:active,.boxShadowI3LgActive:focus {
  box-shadow: inset 0 0 90px rgb(254, 156, 0);
}

.boxShadowI4Lg {
  box-shadow: inset 0 0 70px rgba(255, 255, 178, 0.8);
}

.boxShadowI4LgActive:active,.boxShadowI4LgActive:focus {
  box-shadow: inset 0 0 90px rgb(255, 255, 0);
}

.boxShadowI5Lg {
  box-shadow: inset 0 0 50px rgba(255, 255, 255, 0.8);
}

.boxShadowI5LgActive:active,.boxShadowI5LgActive:focus {
  box-shadow: inset 0 0 70px rgb(255, 255, 255,);
}

/* BORDER COLOR */
.borderWhite {
  border-color: rgb(255, 255, 255);
  border-color: rgba(255, 255, 255, 1.0); /*#ffffff*/
}

.borderLtBlue {
  border-color: rgb(178, 240, 255);
  border-color: rgba(178, 240, 255, 1.0); /*#b2f0ff*/
}

.borderVividBlue {
  border-color: rgb(83, 181, 206);
  border-color: rgba(83, 181, 206, 1.0); /*#53b5ce*/
}

.borderLtYellow {
  border-color: rgb(255, 255, 178);
  border-color: rgba(255, 255, 178, 1.0); /*#ffffb2*/
}

.borderVividYellow {
  border-color: rgb(255, 255, 0);
  border-color: rgba(255, 255, 0, 1.0); /*#ffff00*/
}

.borderLtOrange {
  border-color: rgb(255, 211, 140);
  border-color: rgba(255, 211, 140, 1.0); /*#ffd38c*/
}

.borderVividOrange {
  border-color: rgb(254, 156, 0);
  border-color: rgba(254, 156, 0, 1.0); /*#fe9c00*/
}

.borderLtGreen{
  border-color: rgb(205, 255, 178);
  border-color: rgba(205, 255, 178, 1.0); /*#cdffb2*/
}

.borderVividGreen {
  border-color: rgb(89, 255, 0);
  border-color: rgba(89, 255, 0, 1.0); /*#59ff00*/
}
.borderNormal {
  border-color: rgb(196, 196, 196);
  border-color: rgba(196, 196, 196, 1.0); /*#c4c4c4*/
}

.borderDark {
  border-color: rgb(0, 0, 0); /*#000000*/
  border-color: rgba(0, 0, 0, 1.0); /*#000000*/
}

/* BOX SHADOW 
 * 1=Blue
 * 2=Green
 * 3=Orange
 * 4=Yellow
 * 5=White
 * Std=Normal for use in boxes, text fields and block level elements
 * Med=Wider For use with buttons
 * LG= widest, for use in special cases*/
.boxShadow1Std {
  box-shadow: 0 0 30px rgba(83, 181, 206, 0.8);
}

.boxShadow1StdActive:active,.boxShadow1StdActive:focus {
  box-shadow: 0 0 50px rgb(178, 240, 255);
}

.boxShadow2Std {
  box-shadow: 0 0 30px rgba(89, 255, 0, 0.8);
}

.boxShadow2StdActive:active,.boxShadow2StdActive:focus {
  box-shadow: 0 0 50px rgb(205, 255, 178);
}

.boxShadow3Std {
  box-shadow: 0 0 30px rgba(254, 156, 0, 0.8);
}

.boxShadow3StdActive:active,.boxShadow3StdActive:focus {
  box-shadow: 0 0 50px rgb(255, 211, 140);
}

.boxShadow4Std {
  box-shadow: 0 0 30px rgba(255, 255, 0, 0.8);
}

.boxShadow4StdActive:active,.boxShadow4StdActive:focus {
  box-shadow: 0 0 50px rgb(255, 255, 178);
}

.boxShadow5Std {
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.8);
}

.boxShadow5StdActive:active,.boxShadow5StdActive:focus {
  box-shadow: 0 0 50px rgb(255, 255, 255,);
}

.boxShadow1Med {
  box-shadow:  0 0 50px rgba(83, 181, 206, 0.8);
}

.boxShadow1MedActive:active,.boxShadow1MedActive:focus {
  box-shadow: 0 0 70px rgb(178, 240, 255);
}

.boxShadow2Med {
  box-shadow:  0 0 50px rgba(89, 255, 0, 0.8);
}

.boxShadow2MedActive:active,.boxShadow2MedActive:focus {
  box-shadow: 0 0 70px rgb(205, 255, 178);
}

.boxShadow3Med {
  box-shadow: 0 0 50px rgba(254, 156, 0, 0.8);
}

.boxShadow3MedActive:active,.boxShadow3MedActive:focus {
  box-shadow: 0 0 70px rgb(255, 211, 140);
}

.boxShadow4Med {
  box-shadow: 0 0 50px rgba(255, 255, 0, 0.8);
}

.boxShadow4MedActive:active,.boxShadow4MedActive:focus {
  box-shadow: 0 0 70px rgb(255, 255, 178);
}

.boxShadow5Med {
  box-shadow:  0 0 50px rgba(255, 255, 255, 0.8);
}

.boxShadow5MedActive:active,.boxShadow5MedActive:focus {
  box-shadow:  0 0 70px rgb(255, 255, 255,);
}

.boxShadow1Lg {
  box-shadow:  0 0 70px rgba(83, 181, 206, 0.8);
}

.boxShadow1LgActive:active,.boxShadow1LgActive:focus {
  box-shadow:  0 0 90px rgb(178, 240, 255);
}

.boxShadow2Lg {
  box-shadow: 0 0 70px rgba(89, 255, 0, 0.8);
}

.boxShadow2LgActive:active,.boxShadow2LgActive:focus {
  box-shadow: 0 0 90px rgb(205, 255, 178);
}

.boxShadow3Lg {
  box-shadow:  0 0 70px rgba(254, 156, 0, 0.8);
}

.boxShadow3LgActive:active,.boxShadow3LgActive:focus {
  box-shadow:  0 0 90px rgb(255, 211, 140);
}

.boxShadow4Lg {
  box-shadow:  0 0 70px rgba(255, 255, 0, 0.8);
}

.boxShadow4LgActive:active,.boxShadow4LgActive:focus {
  box-shadow:  0 0 90px rgb(255, 255, 178);
}

.boxShadow5Lg {
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.8);
}

.boxShadow5LgActive:active,.boxShadow5LgActive:focus {
  box-shadow: 0 0 70px rgb(255, 255, 255,);
}

/* BORDER COLOR */
.borderWhite {
  border-color: rgb(255, 255, 255);
  border-color: rgba(255, 255, 255, 1.0); /*#ffffff*/
}

.borderLtBlue {
  border-color: rgb(178, 240, 255);
  border-color: rgba(178, 240, 255, 1.0); /*#b2f0ff*/
}

.borderVividBlue {
  border-color: rgb(83, 181, 206);
  border-color: rgba(83, 181, 206, 1.0); /*#53b5ce*/
}

.borderLtYellow {
  border-color: rgb(255, 255, 178);
  border-color: rgba(255, 255, 178, 1.0); /*#ffffb2*/
}

.borderVividYellow {
  border-color: rgb(255, 255, 0);
  border-color: rgba(255, 255, 0, 1.0); /*#ffff00*/
}

.borderLtOrange {
  border-color: rgb(255, 211, 140);
  border-color: rgba(255, 211, 140, 1.0); /*#ffd38c*/
}

.borderVividOrange {
  border-color: rgb(254, 156, 0);
  border-color: rgba(254, 156, 0, 1.0); /*#fe9c00*/
}

.borderLtGreen{
  border-color: rgb(205, 255, 178);
  border-color: rgba(205, 255, 178, 1.0); /*#cdffb2*/
}

.borderVividGreen {
  border-color: rgb(89, 255, 0);
  border-color: rgba(89, 255, 0, 1.0); /*#59ff00*/
}
.borderNormal {
  border-color: rgb(196, 196, 196);
  border-color: rgba(196, 196, 196, 1.0); /*#c4c4c4*/
}

.borderDark {
  border-color: rgb(0, 0, 0); /*#000000*/
  border-color: rgba(0, 0, 0, 1.0); /*#000000*/
}



/* OPACITY */
.opacityFull {
  opacity: 1.0;
}

.opacityHeavy {
  opacity: 0.8;
}

.opacityMedium {
  opacity: 0.65;
}

.opacityLight {
  opacity: 0.5;
}

/* Flexbox modal */
.modalFlexbox {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
}

