/**********************************************************
Modified common.css from the DNA styleguide, designed and used for the Tizen Crosswalk platform
Adjustments were made to suit the RVI admin web interface
Accomodates flexbox layout where ever possible
March 2015*

last updated July 2015 

***********************************************************/



/* Resets *************************************************/

:focus {
  outline: none;
}

/* Prevents the selection of text on all but text inputs */

:not(input):not(textarea) {
  -webkit-user-select: none;
  user-select: none;
}

/* Resets :: end ******************************************/



/* Fonts ***************************************************
   Adobe Source Sans
   SIL OPEN FONT LICENSE Version 1.1 - 26 February 2007
   http://scripts.sil.org/OFL
***********************************************************/

@font-face {
  font-family: SourceSansPro;
  font-weight: 200;
  src: url(../fonts/SourceSansPro-ExtraLight.ttf) format(truetype);
}

@font-face {
  font-family: SourceSansPro;
  font-weight: 300;
  src: url(../fonts/SourceSansPro-Light.ttf) format(truetype);
}

@font-face {
  font-family: SourceSansPro;
  font-weight: 300;
  font-style: italic;
  src: url(../fonts/SourceSansPro-LightItalic.ttf) format(truetype);
}

@font-face {
  font-family: SourceSansPro;
  font-weight: 400;
  src: url(../fonts/SourceSansPro-Regular.ttf) format(truetype);
}

@font-face {
  font-family: SourceSansPro;
  font-weight: 400;
  font-style: italic;
  src: url(../fonts/SourceSansPro-Italic.ttf) format(truetype);
}

@font-face {
  font-family: SourceSansPro;
  font-weight: 600;
  src: url(../fonts/SourceSansPro-Semibold.ttf) format(truetype);
}

@font-face {
  font-family: SourceSansPro;
  font-weight: 700;
  src: url(../fonts/SourceSansPro-Bold.ttf) format(truetype);
}

@font-face {
  font-family: SourceSansPro;
  font-weight: 900;
  src: url(../fonts/SourceSansPro-Black.ttf) format(truetype);
}


/* Root Elements ******************************************/

html {
  font-size: 9px;
}

@media (max-width: 960px) {
  html {
    font-size: 6px;
  }
}


/* Body */

body {
  font-family: SourceSansPro, sans-serif;
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: rgb(0, 0, 0);
}


/* Sectioning Content and Div *****************************/

div,
nav,
aside,
article,
section {
  /* font-size: 3rem; */
}

* {
  -webkit-user-select: none;
  user-select: none;
}

input,
textarea {
  -webkit-user-select: auto;
  user-select: auto;
}


/* Structural Elements ************************************/


/*
  These styles can only be used with
  the HTML structure suggested in the Style Guide
*/

#center-panel {
  position: relative;
  display: flex;
  overflow: hidden;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  height: inherit;
}

.modal,
#settings {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.modal {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

.modal-content {
  padding: 20px;
  background-color: rgba(0, 0, 0, .8);
}

#app {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: transparent;
}

#agl-logo {
  -webkit-flex: 3;
  flex: 3;
  -ms-flex: 3;
}


/*Typography **********************************************/


/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 1em;
  margin: .5em 0;
  color: #fe9c00;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.5rem;
}

h3 {
  font-size: 4.25rem;
}

h4 {
  font-size: 4rem;
}

h5 {
  font-size: 3.6rem;
}

h6,
.label {
  font-size: 3rem;
  text-transform: uppercase;
}


/* Text */

p,
ul {
  /* margin-bottom: 1em; */
}

p,
ul,
li,
.text-input {
  font-size: 3rem;
  color: white;
}

.text-medium {
  font-size: 3.2rem;
}

.text-large {
  font-size: 3.4rem;
}

p.lead {
  font-size: 4.5rem;
  font-weight: 300;
}


/* Anchors */


/*a {
  color: inherit;
}*/


/* Lists */

ul {
  font-size: 3rem;
  /* margin-left: 0; */
}

li {
  /* margin-left: 1em; */
}

/* Text Overflow */

.ellipsis-one-line,
.ellipsis-two-line,
.ellipsis-three-line {
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.ellipsis-one-line {
  -webkit-line-clamp: 1;
}

.ellipsis-two-line {
  -webkit-line-clamp: 2;
}

.ellipsis-three-line, {
  -webkit-line-clamp: 3;
}

/* Typography :: end **************************************/



/* Colors *************************************************/

.orange-lt {
  color: #ffd38c;
}

.orange-lt-bg {
  background-color: #ffd38c;
}

.orange-viv {
  color: #fe9c00;
}

.orange-viv-bg {
  background-color: #fe9c00;
}

.blue-lt {
  color: #b2f0ff;
}

.blue-lt-bg {
  background-color: #b2f0ff;
}

.blue-viv {
  color: #53b5ce;
}

.blue-viv-bg {
  background-color: #53b5ce;
}

.yellow-lt {
  color: #ffffb2;
}

.yellow-lt-bg {
  background-color: #ffffb2;
}

.yellow-viv {
  color: #ff0;
}

.yellow-viv-bg {
  background-color: #ff0;
}

.green-lt {
  color: #cdffb2;
}

.green-lt-bg {
  background-color: #cdffb2;
}

.green-viv {
  color: #59ff00;
}

.green-viv-bg {
  background-color: #59ff00;
}

.grey {
  color: #c4c4c4;
}

.grey-bg {
  background-color: #c4c4c4;
}

.white {
  color: white;
}

.white-bg {
  background-color: white;
}

.black {
  color: black;
}

.black-bg {
  background-color: black;
}


/* Colors :: end ******************************************/


/* Tables, currently not compatible with the modified bootstrap CSS *******/


/*table {
  width: 100%;
  border-collapse: collapse;
  background-color: transparent;
}

th,
td {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  font-size: 2rem;
  text-align: left;
  color: white;
}

th.no-flex,
td.no-flex {
  display: table-cell;
}

th {
  font-weight: 100;
  justify-content: flex-end;
}

td {
  font-weight: 100;
  justify-content: flex-start;
}

table tr {
  display: flex;
}

tr:nth-child(even) {
  background-color: rgba(255,211,140,.1);
}

table tr > :nth-child(1n) {
  flex: 2;
}

table tr > :nth-child(n+2) {
  flex: 1;
}

table.no-text-wrap td {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}*/


/* Tables :: end ******************************************/


/* Controls ***********************************************/


/* Buttons ************************************************/

button,
.button,
.button-infill,
.button-inshadow,
.button-outline,
.button-outshadow,
input[type='button'] {
  font-family: inherit;
  font-size: 3rem;
  font-weight: 600;
  position: relative;
  display: inline-block;
  margin: 20px;
  padding: 8px 20px 12px;
  color: white;
  border-width: 1px;
  border-style: solid;
  background-color: rgba(0, 0, 0, .8);
  -webkit-box-shadow: inset 0 0 20px rgba(255, 255, 255, .9);
  -moz-box-shadow: inset 0 0 20px rgba(255, 255, 255, .9);
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .9);
}

/* Button Colors */

.button-orange {
  color: #fe9c00;
  border-color: rgba(254, 156, 0, 0.5);
}

.button-blue {
  color: #b2f0ff;
  border-color: rgba(178, 240, 255, 0.5);
}

.button-green {
  color: #59ff00;
  border-color: rgba(205, 255, 178, 0.5);
}

.button-yellow {
  color: #ffffb2;
  border-color: rgba(255, 255, 178, 0.5);
}


/* Button Inshadow */

.button-inshadow {
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5);
}

.button-inshadow.button-orange {
  box-shadow: inset 0 0 20px rgba(254, 156, 0, 0.5);
}

.button-inshadow.button-blue {
  box-shadow: inset 0 0 20px rgba(178, 240, 255, 0.5);
}

.button-inshadow.button-green {
  box-shadow: inset 0 0 20px rgba(89, 255, 0, 0.5);
}

.button-inshadow.button-yellow {
  box-shadow: inset 0 0 20px rgba(255, 255, 0, 0.5);
}


/* Button Outshadow */

.button-outshadow {
  box-shadow: 0 0 20px rgba(255, 255, 255, .5);
}

.button-outshadow.button-orange {
  box-shadow: 0 0 20px rgba(254, 156, 0, .5);
}

.button-outshadow.button-blue {
  box-shadow: 0 0 20px rgba(178, 240, 255, .5);
}

.button-outshadow.button-green {
  box-shadow: 0 0 20px rgba(89, 255, 0, 0.5);
}

.button-outshadow.button-yellow {
  box-shadow: 0 0 20px rgba(255, 255, 0, .5);
}


/* Button Infill */

.button-infill {
  background-color: rgba(128, 128, 128, .8);
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 1), inset 0 0 6em 2em rgba(0, 0, 0, .5);
  color: rgba(255, 255, 255, .8);
}

.button-infill.button-orange {
  background-color: rgba(254, 156, 0, .8);
}

.button-infill.button-blue {
  background-color: rgba(83, 181, 206, .8);
}

.button-infill.button-green {
  background-color: rgba(89, 255, 0, .7);
}

.button-infill.button-yellow {
  background-color: rgba(255, 255, 0, .8);
}


/* Clear Button */

.clear-button::after {
  font-size: 5rem;
  line-height: 100px;
  margin-left: -50px;
  content: '\00d7';
  color: gray;
}


/* Close button */

.close-button {
  position: relative;
  top: 0;
  right: 20px;
  float: right;
  padding: 10px;
}

.close-button::after {
  font-size: 5rem;
  width: 26px;
  height: 63px;
  content: '\00d7';
  cursor: pointer;
  color: white;
}


/* Buttons :: end *****************************************/


/* Boxes **************************************************/

.box-infill,
.box-inshadow,
.box-outline,
.box-outshadow {
  background-color: rgba(0, 0, 0, 0.8);
  border-color: rgba(255, 255, 255, 0.5);
  border-style: solid;
  border-width: 1px;
  color: #fe9c00;
  margin: 20px;
  padding: 20px;
}

.box-inshadow {
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5);
}

.box-outshadow {
  box-shadow: 0 0 20px rgba(255, 255, 255, .5);
}

.box-infill {
  background-color: rgba(128, 128, 128, .8);
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 1), inset 0 0 6em 2em rgba(0, 0, 0, .5);
  color: rgba(255, 255, 255, .8);
}

.box-header {
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-color: inherit;
  color: inherit;
  margin: -20px -20px 10px;
  padding: 20px;
}

.box-title {
  color: inherit;
  margin: 0;
}

.box-content {
  margin: -20px;
  padding: 20px;
}


/* Yellow */

.box-yellow,
.box-in-yellow,
.box-out-yellow {
  border-color: rgba(255, 255, 178, 0.5);
  color: #FFFFb2;
}

.box-in-yellow {
  box-shadow: inset 0 0 20px rgba(255, 255, 0, 0.5);
}

.box-out-yellow {
  box-shadow: 0 0 20px rgba(255, 255, 0, 0.5);
}

.box-infill-yellow {
  background-color: rgba(255, 255, 0, .8);
}


/* Orange */

.box-orange,
.box-in-orange,
.box-out-orange {
  border-color: rgba(254, 156, 0, .5);
  color: #FE9C00;
}

.box-in-orange {
  box-shadow: inset 0 0 20px rgba(254, 156, 0, .5);
}

.box-out-orange {
  box-shadow: 0 0 20px rgba(254, 156, 0, .5);
}

.box-infill-orange {
  background-color: rgba(254, 156, 0, .8);
}


/* Blue */

.box-blue,
.box-in-blue,
.box-out-blue {
  border-color: rgba(178, 240, 255, .5);
  color: #b2f0ff;
}

.box-in-blue {
  box-shadow: inset 0 0 20px rgba(178, 240, 255, .5);
}

.box-out-blue {
  box-shadow: 0 0 20px rgba(178, 240, 255, .5);
}

.box-infill-blue {
  background-color: rgba(83, 181, 206, .8);
}


/* Green */

.box-green,
.box-in-green,
.box-out-green {
  border-color: rgba(205, 255, 178, 0.5);
  color: #cdffb2;
}

.box-in-green {
  box-shadow: inset 0 0 20px rgba(205, 255, 178, .5);
}

.box-out-green {
  box-shadow: 0 0 20px rgba(205, 255, 178, .5);
}

.box-infill-green {
  background-color: rgba(89, 255, 0, .7);
}


/* Boxes :: end *******************************************/


/* Switches ***********************************************/

.switch {
  margin: 20px;
}


/* Sizes for switches */

.switch-xsmall {
  height: 50px;
  width: 100px;
}

.switch-small {
  height: 75px;
  width: 150px;
}

.switch-medium {
  height: 105px;
  width: 210px;
}

.switch-large {
  height: 150px;
  width: 300px;
}


/* Switch Plate (long background hexagon) */

.switch-plate {
  align-items: center;
  background-repeat: no-repeat;
  background-size: 100%;
  box-sizing: border-box;
  display: flex;
  height: 100%;
}


/* On/Off Styles for Switch Plate */

.off .switch-plate {
  background-image: url('../images/switchplate_off.svg');
  justify-content: flex-start;
  padding-left: 10%;
  padding-right: 0 !important;
}

.on .switch-plate {
  background-image: url('../images/switchplate_on.svg');
  justify-content: flex-end;
  padding-left: 0 !important;
  padding-right: 10%;
}


/* Switch Control (hexagon) */

.switch-control {
  background-image: url('../images/switchcontrol.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 80%;
  width: 50%;
}

.switch-xsmall .switch-control {
  -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.35));
}

.switch-small .switch-control {
  -webkit-filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.35));
}

.switch-medium .switch-control {
  -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.35));
}

.switch-large .switch-control {
  -webkit-filter: drop-shadow(8px 8px 8px rgba(0, 0, 0, 0.35));
}


/* Switches :: end ****************************************/


/* Forms */


/* Text Inputs */

.text-input {
  background-color: rgba(0, 0, 0, 0.8);
  border: none;
  color: rgba(255, 255, 255, 0.8);
  font-size: 3rem;
  margin: 10px;
  padding: 20px;
}

input,
textarea,
.text-input {
  font-family: inherit;
}

::-webkit-input-placeholder,
::-moz-placeholder,
placeholder {
  color: #444;
}

label {
  text-transform: uppercase;
  color: #fe9c00;
  display: block;
}

label,
.text-input {
  margin: 10px;
}

.text-input:focus {
  outline: none;
  color: white;
  -webkit-box-shadow: 0 0 20px rgba(255, 255, 255, .8);
  -moz-box-shadow: 0 0 20px rgba(255, 255, 255, .8);
  box-shadow: 0 0 20px rgba(255, 255, 255, .8);
}


/* Input Group */
/* A wrapper for grouping input fields, labels and other 
   form content. Best used on unstyled block elements (eg. div) */ 

.input-group {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.input-group label {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1;
  flex: 1;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: center;
  align-items: center;
  text-align: right;
  -ms-flex: 1;
}

.input-group label.left-label {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.input-group .text-input {
  -webkit-flex: 2;
  flex: 2;
  -ms-flex: 2;
}

.input-yellow {
  color: #ffffb2;
  -webkit-box-shadow: 0 0 20px rgba(255, 255, 178, .8);
  -moz-box-shadow: 0 0 20px rgba(255, 255, 178, .8);
  box-shadow: 0 0 20px rgba(255, 255, 178, .8);
}

.input-yellow:focus {
  -webkit-box-shadow: 0 0 20px rgba(255, 255, 0, .9);
  -moz-box-shadow: 0 0 20px rgba(255, 255, 0, .9);
  box-shadow: 0 0 20px rgba(255, 255, 0, .9);
}

.input-blue {
  border-color: rgba(178, 240, 255, .5);
}

.input-blue:focus {
  -webkit-box-shadow: 0 0 20px rgba(255, 255, 0, .9);
  -moz-box-shadow: 0 0 20px rgba(255, 255, 0, .9);
  box-shadow: 0 0 20px rgba(178, 240, 255, .9);
}

.input-green {
  color: rgba(205, 255, 178, 0.8);
}

.input-green:focus {
  color: #cdffb2;
  box-shadow: 0 0 20px rgba(205, 255, 178, 0.8);
}

.input-orange {
  color: rgba(255, 211, 140, 0.8);
}

.input-orange:focus {
  color: #ffd38c;
  box-shadow: 0 0 20px rgba(255, 211, 140, 0.8);
}


/* Forms :: end *******************************************/

/* Sliders **** touch control - omitted *******************/

/*To view slider code, visit the common-app repo at:
https://github.com/PDXostc/common-app/blob/master/css/common.css*/


/* Tabs ***************************************************/

.tabs-component {
  display: flex;
  flex-direction: column;
}

.tabs-labels {
  border-bottom: 1px solid rgba(0,0,0,.25);
  display: flex;
  flex: 1;
  margin-bottom: 1em;
  z-index: 1;
}

.tab-item {
  border-radius: 40px;
  color: rgba(0,0,0,.5);
  flex: 1;
  padding: 5px 0;
  margin-bottom: 10px;
  text-align: center;
}

.tab-item:not(:last-child) {
  margin-right: 10px;
}

.tab-item.active {
  background-color: rgba(0,0,0,.25);
  color: rgba(0,0,0,.8);
  text-shadow: 1px 1px 0 rgba(255,255,255,.5);
}

.tabs-content {
  z-index: 0;
}

/* Tabs :: end ********************************************/


/* Touch Behavior *****************************************/

/* Prevents scrolling and zooming where not specified */
html,
input,
textarea {
  touch-action: none;
}

/* Allows vertical and horizontal scrolling where specified 
   for lists */
ul, ol {
  touch-action: pan-x pan-y;
}

/* Touch Behavior :: end **********************************/



/* Scrolling Content **************************************/

/* Scrolling is disabled by default on all but list elements. */

/* Scrollbar classes */

.scrollbar-x { 
  overflow-x: auto;
  touch-action: pan-x;
  white-space: nowrap;
} 

.scrollbar-y {
  overflow-y: auto;
  touch-action: pan-y;
}

.scrollbar-xy {
  overflow: auto;
  touch-action: pan-x pan-y;
}

/* Scrollable classes */

.scrollable-x { 
  overflow-x: auto; 
  touch-action: pan-x;
  white-space: nowrap;
}

.scrollable-y {
  overflow-y: auto;
  touch-action: pan-y;
}

.scrollable-xy {
  overflow: auto;
  touch-action: pan-x pan-y;
}

.scrollable-x::-webkit-scrollbar,
.scrollable-y::-webkit-scrollbar,
.scrollable-xy::-webkit-scrollbar {
  -webkit-appearance: none;
}

/* Custom Scrollbar Styling */

.scrollbar-x::-webkit-scrollbar,
.scrollbar-y::-webkit-scrollbar,
.scrollbar-xy::-webkit-scrollbar {
  -webkit-appearance: none; 
  width: 20px;
  height: 20px;
}

.scrollbar-x::-webkit-scrollbar-track, 
.scrollbar-y::-webkit-scrollbar-track, 
.scrollbar-xy::-webkit-scrollbar-track {
  -webkit-appearance: none; 
  background-color: transparent;
  box-shadow: inset 0 0 .5em .125em rgba(0,0,0,.5);
}

.scrollbar-x::-webkit-scrollbar-thumb,   
.scrollbar-y::-webkit-scrollbar-thumb,   
.scrollbar-xy::-webkit-scrollbar-thumb {   
  -webkit-appearance: none;
  border: 5px solid transparent;
  border-radius: 10px; 
}

.scrollbar-x::-webkit-scrollbar-thumb,   
.scrollbar-xy::-webkit-scrollbar-thumb:horizontal {
  background:linear-gradient(to bottom, rgba(254, 156, 0, .8), rgba(254, 156, 0, .5));  
  background-clip: content-box;
}

.scrollbar-y::-webkit-scrollbar-thumb,   
.scrollbar-xy::-webkit-scrollbar-thumb:vertical {
  background:linear-gradient(to right, rgba(254, 156, 0, .8), rgba(254, 156, 0, .5));  
  background-clip: content-box;
}

.scrollbar-x::-webkit-scrollbar-button, 
.scrollbar-y::-webkit-scrollbar-button, 
.scrollbar-xy::-webkit-scrollbar-button {
  -webkit-appearance: none;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset .1em .1em .25em rgba(126,126,126,.1), inset -.1em -.1em .25em rgba(0,0,0,.2);
}

.scrollbar-x::-webkit-scrollbar-button,
.scrollbar-xy::-webkit-scrollbar-button:horizontal {
  background-size: 6px 10px;
}

.scrollbar-y::-webkit-scrollbar-button,
.scrollbar-xy::-webkit-scrollbar-button:vertical {
  background-size: 10px 6px;
}

.scrollbar-x::-webkit-scrollbar-button:start,
.scrollbar-xy::-webkit-scrollbar-button:horizontal:start {
  background-image: url('../images/scroll_button_left_arrow_white.png');
}

.scrollbar-x::-webkit-scrollbar-button:end,
.scrollbar-xy::-webkit-scrollbar-button:horizontal:end {
  background-image: url('../images/scroll_button_right_arrow_white.png');
}

.scrollbar-y::-webkit-scrollbar-button:start,
.scrollbar-xy::-webkit-scrollbar-button:vertical:start {
  background-image: url('../images/scroll_button_up_arrow_white.png');
}

.scrollbar-y::-webkit-scrollbar-button:end,
.scrollbar-xy::-webkit-scrollbar-button:vertical:end {
  background-image: url('../images/scroll_button_down_arrow_white.png');
}

.scrollable-x::-webkit-scrollbar-corner,  
.scrollable-y::-webkit-scrollbar-corner,  
.scrollable-xy::-webkit-scrollbar-corner {
  -webkit-appearance: none;
}

.scrollbar-x::-webkit-scrollbar-corner,  
.scrollbar-y::-webkit-scrollbar-corner,  
.scrollbar-xy::-webkit-scrollbar-corner {  
  -webkit-appearance: none;
  background-color: transparent;
  box-shadow: inset 0 0 .5em .125em rgba(0,0,0,.5);
}

/* Scrolling Content :: end *******************************/
/*dark scrollbars, if desired*/


/*::-webkit-scrollbar {
  width: 11px;
  margin-top: 20px;
}
::-webkit-scrollbar-track {
  margin-bottom: -1px;
  border-top: none;
  border-right: 1px solid #606060;
  border-bottom: none;
  border-left: 1px solid #202020;
  background: -webkit-linear-gradient(right, rgba(0,0,0,.6), rgba(72, 72, 72, .8));
  background: linear-gradient(to right, rgba(0,0,0,.6), rgba(72, 72, 72, .8));
}
::-webkit-scrollbar-thumb {
  border: 1px solid #202020;
  border-radius: 5px;
  background: linear-gradient(to right, rgba(112,112,112, .8), rgba(72,72,72, .8));
}
::-webkit-scrollbar-corner {
  width: 8px;
  height: 8px;
  border-top: none;
  border-right: 1px solid #606060;
  border-bottom: none;
  border-left: 1px solid #202020;
  background: -webkit-linear-gradient(right, rgba(0,0,0,.6), rgba(72, 72, 72, .8));
  background: linear-gradient(to right, rgba(0,0,0,.6), rgba(72, 72, 72, .8));
}
*/


/**********************************************************/

/* OPACITY */

.opacityFull {
  opacity: 1.0;
}

.opacityHeavy {
  opacity: .8;
}

.opacityMedium {
  opacity: .65;
}

.opacityLight {
  opacity: .5;
}


/* Flexbox modal */

.modalFlexbox {
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-align: center;
}


/* Modifiers **********************************************/


/* Modifiers should stay at the bottom of the CSS *********/

.borderless {
  border: none;
}

/* Positions within the first positioned parent */
.z-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.no-margin {
  margin: 0;
}

.right {
  float: right;
}

.left {
  float: left;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.center {
  text-align: center;
}

.no-margin {
  margin: 0;
}


/* Flex Modifiers */

.flex-parent {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.flex-item {
  -webkit-flex: 1;
  flex: 1;
  -ms-flex: 1;
}

.flex-item-2 {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.flex-item-3 {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
}

.flex-column {
  -webkit-flex-direction: column;
  flex-direction: column;
}

.flex-row {
  -webkit-flex-direction: row;
  flex-direction: row;
}

.flex-center {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

.flex-column-center {
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
}

.space-between {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
