    	.table-row{
		    margin-top:40px;
		    padding: 0 10px;
		}

		.clickable{
		    cursor: pointer;
		}

		.panel-heading div {
			margin-top: -18px;
			font-size: 15px;
		}

		.panel-heading div span{
			margin-left:5px;
		}

		.panel-body{
			display: none;
		}

		.table-hover > tbody > tr:hover {
			background-color: orange;
		}

		.container-history {
			display: table;
			height: 90%;
			width: 100%;
		}

		.left-half, .right-half {
			display: table-cell;
			text-align: center;
			vertical-align: middle;
			height: 100%;
			width: 45%;
			padding: 1rem;
		}

		#map {
		}


		.container-keys {
			height: 90%;
			width: 100%;
			border:1px solid red;
			display: table;
		}

		.top-third, .middle-third, .bottom-third {
			display: table-row;
			height: 30%;
			width: 80%;
			border:1px solid red;

		}

