<html>
    <body>
        <iframe id="map" src="/tracking/location" width="1000" height="700">
			<p>Your browser does not support iframes.</p>
        </iframe>
        <p>
			Map:
            <select id="maps" onchange="updateMap()">
                {% for map in maps %}
                    <option value="{{map.id}}">{{map.name|capfirst}}</option>
                {% endfor %}
            </select>        
			Vehicle:
            <select id="vehicles" onchange="updateMap()">
                <option value="">--------</option>
                {% for vehicle in vehicles %}
                    <option value="{{vehicle.id}}">{{vehicle.veh_name|capfirst}}</option>
                {% endfor %}
            </select>
            From:
            <input type="date" id="from_date" onchange="updateMap()">
            <input type="time" id="from_time" onchange="updateMap()">
            To:
            <input type="date" id="to_date" onchange="updateMap()">     
            <input type="time" id="to_time" onchange="updateMap()">
        </p>
    </body>
    
    <script>
		function updateMap() {
		    var map_frame = document.getElementById("map")
		    var map = document.getElementById("maps").value + "/"
		    var vehicle = document.getElementById("vehicles").value
		    if (vehicle) {
				vehicle = vehicle + "/"
			}

		    var from_date = document.getElementById("from_date").value
			var from_time = document.getElementById("from_time").value
            if (from_date) {
  	            if (from_time) {
				    from_date = from_date + "+" + from_time + ":00"
			    }
			    else {
				    from_date = from_date + "+" + "00:00:00"				
			    }
		    }

		    var to_date = document.getElementById("to_date").value
			var to_time = document.getElementById("to_time").value
		    if (to_date) {
				to_date = "_" + to_date
  	            if (to_time) {
				    to_date = to_date + "+" + to_time + ":00"
		        }
		        else {
				    to_date = to_date + "+" + "23:59:59"
			    }
			}

            var target = map_frame.src = "/tracking/"
		               + map
		               + vehicle
		               + from_date
            if (map != "location/") {
				target = target + to_date
		    }
		    map_frame.src = target
	    }
    </script>
</html>
